<?xml version="1.0"?>
<robot
  xmlns:xacro="http://ros.org/wiki/xacro"
  name="common">
  <!-- PI constant -->
  <xacro:property name="M_PI" value="3.1415926535897931" />

  <!-- Dynamics -->
  <xacro:property name="damping" value="0.8" />
  <!-- Friccion --> 
  <xacro:property name="friccion" value="1.0" />


  <!-- Velocity -->
  <xacro:property name="vel_arm" value="300" />
  
  <!-- Inertial cuboid element -->
  <!-- Same def that box primitive (center) -->
  <xacro:macro name="cuboid_inertia_def" params="x y z mass">
    <inertia 
      iyy="${mass*(z*z+x*x)/12.0}"
      ixx="${mass*(y*y+z*z)/12.0}"
      izz="${mass*(x*x+y*y)/12.0}"
      ixy="0.0" iyz="0.0" ixz="0.0"/>
  </xacro:macro>

  <!-- Same def that box primitive -->
  <xacro:macro name="simple_inertia_def" params="mass">
    <inertia ixx="${mass}"
             iyy="${mass}"
             izz="${mass}"
             ixy="0.0" iyz="0.0" ixz="0.0"/>
  </xacro:macro>

  <!-- Inertial sphere element -->
  <xacro:macro name="sphere_inertia_def" params="radius mass">
    <inertia ixx="${mass*radius*radius*2.0/5.0}"
             iyy="${mass*radius*radius*2.0/5.0}"
             izz="${mass*radius*radius*2.0/5.0}"
             ixy="0.0" iyz="0.0" ixz="0.0"/>
  </xacro:macro>

  <!-- Inertial cylinder element -->
  <!-- Axis along z (length) -->
  <xacro:macro name="cylinder_inertia_def" params="radius length mass">
    <inertia ixx="${mass*(3.0*radius*radius+length*length)/12.0}"
             iyy="${mass*(3.0*radius*radius+length*length)/12.0}"
             izz="${mass*radius*radius/2.0)}"
             ixy="0.0" iyz="0.0" ixz="0.0"/>
  </xacro:macro>

  <!-- Inertial dummy element -->
  <xacro:macro name="dummy_inertial">
    <inertial>
      <mass value="1e-5"/>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6"/>
    </inertial>
  </xacro:macro>

</robot>
