<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <!-- ROS Control -->
  <xacro:macro name="ros_control" params="prefix">
    <gazebo>
      <plugin filename="libgazebo_ros_control.so" name="ros_control">
        <robotNamespace>${prefix}</robotNamespace>
      </plugin>
    </gazebo>
  </xacro:macro>

  <!-- For Effort controllers -->
  <xacro:macro name="joint_transmission" params="joint">
    <transmission name="${joint}_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
       <hardwareInterface>EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint}_motor">
        <hardwareInterface>EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>
  <!-- For Position controllers -->
  <xacro:macro name="joint_pos_transmission" params="joint">
    <transmission name="${joint}_transmission">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
       <hardwareInterface>PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint}_motor">
        <hardwareInterface>PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- No gravity links -->
  <xacro:macro name="gazebo_ng_link" params="link color">
    <gazebo reference="${link}">
      <material>Gazebo/${color}</material>
      <gravity>0</gravity>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  </xacro:macro>
  <!-- Normal links -->
  <xacro:macro name="gazebo_link" params="link color">
    <gazebo reference="${link}">
      <material>Gazebo/${color}</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  </xacro:macro>
  <!-- Wheel links -->
  <xacro:macro name="gazebo_wheel_link" params="link color reflect">
    <gazebo reference="${link}">
      <material>Gazebo/${color}</material>
      <kp>1000000.0</kp>
      <!-- kp and kd for rubber -->
      <kd>100.0</kd>
      <mu1>0.8</mu1>
      <!-- was 10 -->
      <mu2>0.8</mu2>
      <!-- how to get these into <surface><friction><ode>... ?
          slip1 0.5 /slip1 
           slip2 0 /slip2 
        -->
      <fdir1>1 0 0</fdir1>
      <!-- is this correct? -->
      <maxVel>1.0</maxVel>
      <minDepth>0.00</minDepth>
    </gazebo>
  </xacro:macro>
  <!-- Gripper links -->
  <xacro:macro name="gazebo_friction_link" params="link color">
    <gazebo reference="${link}">
      <material>Gazebo/${color}</material>
      <minDepth>0.005</minDepth>
      <mu1>1.0</mu1>
      <mu2>1.0</mu2>
      <kp>1000000.0</kp>
      <kd>1.0</kd>
    </gazebo>
  </xacro:macro>
  <!-- Depth camera plugin -->
  <xacro:macro name="sim_depth_camera" params="name frame ns">
    <gazebo reference="${frame}_frame">
      <sensor type="depth" name="${name}">
        <always_on>true</always_on>
        <update_rate>5.0</update_rate>
        <camera>
          <horizontal_fov>${57.0*M_PI/180.0}</horizontal_fov>
          <image>
            <format>B8G8R8</format>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.01</near>
            <far>5</far>
          </clip>
        </camera>
        <plugin name="${name}_controller" filename="libgazebo_ros_openni_kinect.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>5.0</updateRate>
          <cameraName>${name}</cameraName>
          <imageTopicName>${ns}/ir/image_raw</imageTopicName>
          <cameraInfoTopicName>${ns}/ir/camera_info</cameraInfoTopicName>
          <depthImageTopicName>${ns}/depth/image_raw</depthImageTopicName>
          <depthImageCameraInfoTopicName>${ns}/depth/camera_info</depthImageCameraInfoTopicName>
          <pointCloudTopicName>${ns}/depth/points</pointCloudTopicName>
          <frameName>${frame}_optical_frame</frameName>
          <baseline>0.1</baseline>
          <distortion_k1>0.0</distortion_k1>
          <distortion_k2>0.0</distortion_k2>
          <distortion_k3>0.0</distortion_k3>
          <distortion_t1>0.0</distortion_t1>
          <distortion_t2>0.0</distortion_t2>
          <pointCloudCutoff>0.35</pointCloudCutoff>
          <pointCloudCutoffMax>2.0</pointCloudCutoffMax>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
  <!-- Base wheels plugin -->
  <xacro:macro name="p3at_controller" params="ns prefix">
    <gazebo>
      <plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
        <robotNamespace>${ns}</robotNamespace>
        <updateRate>50.0</updateRate>
        <leftFrontJoint>front_left_wheel_joint</leftFrontJoint>
        <rightFrontJoint>front_right_wheel_joint</rightFrontJoint>
        <leftRearJoint>rear_left_wheel_joint</leftRearJoint>
        <rightRearJoint>rear_right_wheel_joint</rightRearJoint>
        <wheelSeparation>0.4</wheelSeparation>
        <wheelDiameter>0.215</wheelDiameter>
        <robotBaseFrame>${prefix}base_link</robotBaseFrame>
        <torque>200</torque>
        <MaxForce>5.0</MaxForce>
        <commandTopic>base/cmd_vel</commandTopic>
        <odometryTopic>odom</odometryTopic>
        <odometryFrame>${prefix}odom</odometryFrame>
        <broadcastTF>1</broadcastTF>
      </plugin>
    </gazebo>
  </xacro:macro>
  <!-- Laser sensor plugin -->
  <xacro:macro name="laser_sensor_sim" params="name frame ns">
    <gazebo reference="${frame}">
      <sensor type="ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>10</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>720</samples>
              <resolution>1</resolution>
              <min_angle>-1.570796</min_angle>
              <max_angle>1.570796</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>6.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.01</stddev>
          </noise>
        </ray>
        <plugin name="gazebo_ros_${name}_hokuyo_controller" filename="libgazebo_ros_laser.so">
          <topicName>${ns}/scan</topicName>
          <frameName>${frame}</frameName>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>