<?xml version="1.0"?>

<launch>

  <!-- Use RViz and Joint state slides -->
  <arg name="use_gui" default="false"/>
  <!-- Controller type -->
  <arg name="trajectory_controller" default="true"/>
  <!-- Fix base to World, publish TF for /world frame -->
  <arg name="fixed" default="true"/>

  <group ns="scorbot">
    <!-- Parameters for the hardware interface and controllers -->
    <rosparam file="$(find scorbot_driver)/config/controllers.yaml"/>

    <!-- Scorbot hardware interface -->
    <node pkg="scorbot_driver" type="scorbot_driver" name="scorbot_control_hw" output="screen"/>

    <!-- Load the controllers for Scorbot -->
    <!-- Use individual controllers -->
    <node unless="$(arg trajectory_controller)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller
        base_controller
        shoulder_controller
        elbow_controller
        pitch_controller
        roll_controller
        --shutdown-timeout 2"/>
    <!-- Use trajectory controllers -->
    <node if="$(arg trajectory_controller)" name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"
          args="joint_state_controller
        trajectory_controller
        gripper_controller
        --shutdown-timeout 2"/>

    <!-- Load the URDF into the ROS Parameter Server -->
    <include file="$(find scorbot_description)/launch/load_robot_description.launch">
      <arg name="fixed" value="true"/>
    </include>
    <!-- TF from joint states -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
      <param name="tf_prefix" value="/scorbot" />
    </node>
    <!-- Joint states -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
      <param name="use_gui" value="$(arg use_gui)" />
      <param name="rate" value="100" />
      <rosparam param="source_list">['/scorbot/joint_states']</rosparam>
    </node>

    <!--RQT joint trajectory controller -->
    <node name="rqt_scorbot" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find scorbot_driver)/config/scorbot.perspective"/>
  </group>

  <!-- RViz with robot -->
  <node if="$(arg use_gui)" name="scorbot_rviz" pkg="rviz" type="rviz" args="-d $(find scorbot_driver)/config/basic.rviz" />
  
</launch>
