<?xml version="1.0"?>

<launch>

  <!-- Parameters for the hardware interface and controllers -->
  <rosparam file="$(find scorbot_driver)/config/controllers.yaml"/>

  <!-- launch our hardware interface -->
  <node pkg="scorbot_driver" type="scorbot_driver" name="scorbot_control_hw" output="screen"/>

  <!-- Start a controller for our dummy robot -->
  <node name="controller" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="
    /scorbot_controllers/joint_state_controller
    /scorbot_controllers/base_roll_controller
    " />

</launch>
