<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="use_gui" default="true"/>
  <param name="use_gui" value="$(arg use_gui)" />
  <!-- Publish /clock -->
  <arg name="use_sim_time" value="true"/>
 
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find scorbot_gazebo)/config/position_controllers.yaml" command="load"/>

  <!-- Load the controllers-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="scorbot"
    args="joint_state_controller
        base_position_controller
		shoulder_position_controller
		elbow_position_controller
		pitch_position_controller
		roll_position_controller"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg use_gui)"/>
  </include>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param
    name="robot_description"
    command="$(find xacro)/xacro '$(find scorbot_description)/robots/scorbot.urdf.xacro'" />

  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="state_publisher"
	ns="/scorbot/" />
  
  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model scorbot_model -param robot_description"/>

</launch>
